body {
  background-color: #282937;
}
.flexed-content {
  display: flex;
}

/* dashboard styles */
.sales-content-area {
  width: 55%;
  padding-left: 10px;
}
.cart-content-area {
  width: 35%;
  margin-left: 11px;
  background-color: #1f1d2b;
}
/* dashboard styles end */
