body {
  background-color: #282937;
}

.flexed-content {
  display: flex;
}
hr {
  color: #fff;
}

/* dashboard styles */
.sales-content-area {
  width: 55%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  /* height: 100px; */
  /* overflow-y: scroll; */
}
/* .sales-content-area::-webkit-scrollbar {
  display: none !important;
} */
.cards-holder {
  /* display: flex; */
  height: 100%;
  overflow-y: scroll;
}
.cart-content-area {
  width: 35%;
  margin-left: 11px; /* change to ten later*/
  background-color: #1f1d2b;
  display: flex;
  flex-direction: column;
}

/* dashboard styles end */
