/* Sidebar styles begin */
.main-side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  background-color: #1f1d2b;
  width: 10%;
  height: calc(100vh - 60px);
  /* flex-grow: 100vh; */
}
.inner-menu-item {
  padding: 15px;
  margin-left: 10px;
}
.inner-menu-item:hover {
  cursor: pointer;
  background-color: #282937;
  padding: 15px;
  margin-left: 10px;
  border-radius: 10px;
}
.menu-item i {
  color: #ea7c69;
}
.menu-item-active {
  background-color: #282937;
  padding: 15px;
  margin-left: 10px;
  border-radius: 10px;
}
.menu-item-active i {
  color: #fff;
  background-color: #ea7c69;
  padding: 10px;
  border-radius: 10px;
}
/* Side bar styles end */

/* Header styles begin */
.main-header {
  display: flex;

  flex: 1;
  background-color: #282937;
  color: #fff;
  height: 60px;
}
.header-logo-section {
  display: flex;
  width: 10%;
  font-weight: bold;
  font-style: italic;
  font-family: fantasy;
  font-size: 42px;
  align-items: center;
  justify-content: center;
}
.header-main-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 55%; */
  padding-left: 10px;
  padding-right: 3px;
}
.header-user-info {
  line-height: 1px;
}
.header-right-area {
  width: 35%;
  margin-left: 10px;
  background-color: #1f1d2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}
/* end header styles */

/* mini side bar styles */

.mini-side-bar {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  justify-content: first baseline;
  align-items: flex-start;
  background-color: #1f1d2b;
  width: 15%;
  margin-left: 10px;
  padding: 20px;
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
  /* flex-grow: 100vh; */
}
.mini-side-bar .menu-item {
  color: #ea7c69;
  margin-bottom: 20px;
}
.mini-side-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mini-side-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
