.settings-panel {
  padding: 10px;
  /* border-top: 1px solid #1f1d2b; */
  display: flex;
  flex: 1;
  background-color: #1f1d2b;
  margin-left: 1px;
  flex-direction: column;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}

.settings-panel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.settings-panel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
